<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>PROD</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://oraws09prd.resadmin.ucla.edu:8080/crms</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://SRVWCFAP09PRD:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>ORASVC/crms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>
    </UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LocalQdbFinancialsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQLCLT01PRD;Initial Catalog=oris_qdb_staging;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=SQLCLT01PRD;Initial Catalog=oris_qdb_staging;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQLCLT01DEV;Initial Catalog=oris_qdb_staging;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalQdbFinancialsContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Context.LocalQdbFinancials.csdl|res://*/Context.LocalQdbFinancials.ssdl|res://*/Context.LocalQdbFinancials.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLCLT01DEV;initial catalog=oris_qdb_staging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WebIrbStagingContext" Order="2" Enabled="False">
          <Destination Path="Data Source=SQLCLT01PRD;Initial Catalog=WEBIRBStaging;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQLCLT01DEV;Initial Catalog=WEBIRBStaging;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebIrbStagingContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Context.WebIrbStagingContext.csdl|res://*/Context.WebIrbStagingContext.ssdl|res://*/Context.WebIrbStagingContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQLCLT01DEV;initial catalog=WEBIRBStaging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ORADWContext" Order="3" Enabled="False">
          <Destination Path="Data Source=SRVORADW01;Initial Catalog=ORADW;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=SRVORADW01;Initial Catalog=ORADW;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SRVORADW01DEV;Initial Catalog=ORADW;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ORADWContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Context.ORADW.csdl|res://*/Context.ORADW.ssdl|res://*/Context.ORADW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SRVORADW01DEV;initial catalog=ORADW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalQdbFinancialsContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Context.LocalQdbFinancials.csdl|res://*/Context.LocalQdbFinancials.ssdl|res://*/Context.LocalQdbFinancials.msl;provider=System.Data.SqlClient;provider connection string="data source=SQLCLT01PRD;initial catalog=oris_qdb_staging;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ORADWContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Context.ORADW.csdl|res://*/Context.ORADW.ssdl|res://*/Context.ORADW.msl;provider=System.Data.SqlClient;provider connection string="data source=SRVORADW01;initial catalog=ORADW;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebIrbStagingContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Context.WebIrbStagingContext.csdl|res://*/Context.WebIrbStagingContext.ssdl|res://*/Context.WebIrbStagingContext.msl;provider=System.Data.SqlClient;provider connection string="data source=SQLCLT01PRD;initial catalog=WEBIRBStaging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>